{% extends "auctions/layout.html" %}

{% block body %}
    {% if message %}
        {% if update %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% else %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
        {% endif %}
    {% endif %}
    {% if not listing.is_active and user == listing.price.user and user != listing.owner %}
        <div class="alert alert-success" role="alert">
            Congratulations !! You won the Auction for this Bid .
        </div>
    {% endif %}
    
       
    <div class="row mx-3">
        {% if user.is_authenticated and listing.is_active %}
            {% if isOwner %}
                <form action="{% url 'closeAuction' id=listing.id %}" method="POST" class="mx-3">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-warning">Close Auction</button>
                </form>
            {% endif %}
            {% if isListingInWatchlist %}
                <form action="{% url 'removeWatchlist' id=listing.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Remove From Watchlist</button>
                </form>    
            {% else %}
            <form action="{% url 'addWatchlist' id=listing.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Add To Watchlist</button>
            </form>    
            {% endif %}
            
        {% endif %}
    </div>

    <h2>{{ listing.title }}</h2>
    <img src="{{ listing.image_url }}" alt="{{ listing.title }}" height="500px" width="500px">
    <p>{{ listing.description }}</p>
    <p>Owner : {{ listing.owner }}</p>
    <h6>Initial Price :  {{ listing.price}} DT</h6>
    {% if user.is_authenticated and listing.is_active %}
        <form action="{% url 'addBid' id=listing.id %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                </br>
                <label>Add Bid</label>
                <input type="number" min="0" name ="newBid"  id="price" step="0.0001" placeholder="Add new Bid">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </form>
    {% endif %}
    <h2>Comments</h2>
    <br/>
    {% for comment in allComments %}
        <ul class="list-group">
            <li class="list-group-item">
                By <strong>{{ comment.author }}</strong> : {{ comment.message }}
            </li>
        </ul>    
    {% endfor %}
    {% if user.is_authenticated %}
        <form action="{% url 'addComment' id=listing.id %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                </br>
                <label>Add Comment</label>
                <input type="text" name="newComment" placeholder="Add New Comment">
                <button type="submit" class="btn btn-warning">Add</button>
            </div>
        </form>
    {% endif %}
    <br/>

{% endblock %}